input{
    text-align: right;
    max-width: 540px;
    width: 100%;
    border:none;
    font-size: 60px;
    font-weight: 700;
    padding: 30px;
    border-radius: 10px;
    outline:none;
}
.display{
    color: rgb(55,56,48);
    background-color: rgb(238,238,238);
}

.error{
    color: #D13F30;
    background-color: #8F2316;
}